[submodule "agv-dispatcher"]
	path = agv-dispatcher
	url = https://github.com/Vikyek/agv-dispatcher.git
[submodule "agv-syncengine"]
	path = agv-syncengine
	url = https://github.com/Vikyek/agv-syncengine.git
[submodule "toon-mcp"]
	path = toon-mcp
	url = https://github.com/Vikyek/toon-mcp.git
[submodule "jules-vanager"]
	path = jules-vanager
	url = https://github.com/Vikyek/jules-vanager.git
